@model G5_Website_giay.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="control-label col-md-2">
               Name:
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.spName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.spName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Describe:
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.spMieuta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.spMieuta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
               Date:
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.spNgaySanXuat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.spNgaySanXuat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Type:
            </div>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.lspID, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("lspID", (IEnumerable<SelectListItem>)ViewBag.types, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.TypeID, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.lspID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Brand:
            </div>
            <div class="col-md-10">
                @Html.DropDownList("nhasanxuatID", (IEnumerable<SelectListItem>)ViewBag.manus, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.nhasanxuatID, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.nhasanxuatID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Price:
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Image:
            </div>
            <div class="col-md-10">
                <input type="file" name="Images" />
                @*@Html.EditorFor(model => model.Images, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
