@model IEnumerable<G5_Website_giay.Models.chitietDatHang>
@using G5_Website_giay.Models
@{
    ViewBag.Title = "Details2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@{ var OrderItem = (Orderpro)ViewBag.od; }
<p>
    Order ID: @OrderItem.OrderID
    <br />
    Order Date: @OrderItem.OrderDate.Value.ToString("dd/MM/yyyy")
    <br />
    Customer : @OrderItem.khachHang.Name
    <br />
    Status : @OrderItem.Status
    (0: Đang xử lí | 1: Đang vận chuyển | 2: Đã thanh toán )
</p>
<table class="table">
    <tr>
        <th>
            Order Number
        </th>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Image
        </th>
        <th>
            Price
        </th>
        <th>
            Number
        </th>
        <th>
            Total Price
        </th>
    </tr>
    @{ int number = 1; double total = 0;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @number @{ number++;}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.spName)
            </td>
            <td>
                <img src="~/Content/image/@item.SanPham.Images" alt="Alternate Text" width="200" height="150" />
            </td>
            <td>
                @{var price = String.Format("{0:0,0 VND}", item.SanPham.gia); }
                @price
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soluong)
            </td>
            <td>
                @{var money = String.Format("{0:0,0 VND}", item.SanPham.gia * item.soluong); }
                @{total = total + (double)(item.SanPham.gia * item.soluong);}
                @money

            </td>
        </tr>
    }
    <tr>
        <td colspan="7" align="right">
            @{ var sumtotal = String.Format("{0:0,0 VND}", total);}
            Total Money : @sumtotal
        </td>
    </tr>

</table>
